Portrait {
  background: #121212 100%;
}

#split {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 1fr 0.95fr;
}

AddLocation {
  align: center middle;
}

#addloc {
  grid-rows: 0.5fr 1fr 1fr 0.2fr;
  padding: 0 1;
  width: 80;
  height: 15;
  border: thick $background 80%;
  background: $surface;
  & > Label#al-title {
    margin: 4;
  }
  & > Label#al-out {
    background: $background;
    padding: 1 2;
    margin: 0 1;
    width: 100%;
  }
}

SelectLocation {
  align: center middle;
}

#selloc {
  grid-rows: 0.5fr 1fr 0.2fr;
  padding: 0 1;
  width: 80;
  height: auto;
  min-height: 15;
  border: thick $background 80%;
  background: $surface;
  & > Label#sl-title {
    margin: 4;
  }
}


#general {
  layout: grid;
  grid-size: 3 3;
  grid-columns: 0.55fr 0.5fr 0.95fr;
  grid-rows: 0.2fr 0.9fr 0.6fr;
  & > Label {
    width: 100%;
    height: 100%;
  }
  & > #g-loc {
    border: white;
    column-span: 3;
  }
  & > #g-ico {
    column-span: 1;
    width: 100%;
    height: 100%;
    align: center middle;
    & > Label {
      align: center middle;
    }
  }
  & > #g-cond {
    border: #3F3F3F;
    border-top: #7D7D7D;
    background: #252A3A;
    column-span: 1;
    padding: 2;
  }
  & > #g-det {
    column-span: 1;
    layout: grid;
    grid-size: 2 1;
    grid-columns: 0.9fr 1.1fr;
    & > Label#skyq {
      border: #2E3C6B;
      border-top: #6478BD;
      background: #202A4B;
      width: 100%;
      height: 100%;
      padding: 2;
    }
    & > Container#celeste {
      border: #2A2C5E;
      border-top: #5C5FB6;
      background: #181935;
      width: 100%;
      height: 100%;
      layout: grid;
      grid-size: 2 2;
      grid-rows: 1.25fr 1fr;
      & > Label#sun {
        width: 100%;
        height: 100%;
        padding-left: 1;
        padding-top: 2;
      }
      & > Label#moon {
        width: 100%;
        height: 100%;
        padding-left: 1;
        padding-top: 2;
      }
      & > Label#night {
        width: 100%;
        height: 100%;
        column-span: 2;
        padding-left: 1;
      }
    }
  }
  & > #g-ext {
    layout: grid;
    grid-size: 3 1;
    width: 100%;
    height: 100%;
    column-span: 3;
    & > Container {
      width: 100%;
      height: 100%;
      layout: grid;
      grid-size: 2 1;
      & > Label {
        width: 100%;
        height: 100%;
      }
      & > Label#day-1 { padding-left: 1; padding-top: 1; }
      & > Label#day-2 { padding-left: 1; padding-top: 1; }
      & > Label#day-3 { padding-left: 1; padding-top: 1; }    
    }
    & > Container#daily-1 {
      background: #415D2A;
      border: #9EC57D;
      border-top: #628C3E;
      border-right: #628C3E;
    }
    & > Container#daily-2 {
      background: #2C5D2A;
      border: #439040;
      border-bottom: #86C883;
    }
    & > Container#daily-3 {
      background: #2A5D4E;
      border: #86C9B5;
      border-top: #3E8B74;
      border-left: #3E8B74;
    }
  }
}

#detailed {
  border: #A4A4A4;
  background: #191919;
  layout: grid;
  grid-size: 19 7;
  grid-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gutter: 1;
  & > Label {
    border: white;
    width: 100%;
    height: 100%;
  }
}
